#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mapboxgl-popup-content {
  background-color: red;
}

.popup1 > .mapbox-popup {
  background-color: blue;
  align-items: left;
  display: flex;
}

.popup1 > .mapboxgl-popup-content {
  background-color: purple;
  
}

.popup2 > .mapbox-popup {
  background-color: blue;
  align-items: left;
  display: flex;
}

.popup2 > .mapboxgl-popup-content {
  background-color: red;
  
}