:root {
  font-family: "Comic Sans MS", cursive, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mapboxgl-map {
  width: 1000px;
  height: 1000px;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

body {
  font-family: "ABCDiatype", sans-serif;
  font-weight: 700;
}
